@import "tailwindcss";

:root {

  --bg-color: #d1d5db;  
  --text-color: #0f172a;  
  --text-muted: #4b5563; 
  --border-color: #9ca3af; 
  color-scheme: light;
}

.dark {

  --bg-color: #111827; 
  --text-color: #ffffff; 
  --text-muted: #9ca3af;  
  --border-color: #374151; 
  color-scheme: dark;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}
body {
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vw;
  
  background-image: url('/MyPortfolio/logo-rm.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  pointer-events: none; 
  z-index: -1;
}
#root {
  min-height: 100vh;
}


.text-secondary {
  color: var(--text-muted);
}

.theme-border {
  border-color: var(--border-color);
}